
/* Start main rules */
body{
background-color:white;
}
.container{
    width: 1170px;
    margin: auto;
}
/* End main rules */
/* ----------------------------------------- */
/* Start header */
.header .slider{
/*background-color: rgb(228, 177, 215); */
height: 450px;
}

.header .navbar{
background-color: rgb(218, 200, 144);
color: rgb(37, 175, 60);
overflow: hidden;
}

.header .navbar h2{
    float: left;
    text-transform: uppercase;
}

.header .navbar h2 span{
float: left;
color: rgb(214, 75, 156);
}

.header .navbar ul{
list-style: none;
padding-left: 0px;
overflow: hidden;
float: right;
}

.header .navbar ul li {
    float: right;
    padding: 10px;
    text-transform: uppercase;
}
/* End header */
/* ----------------------------------------- */
/* start features */
.features{
overflow: hidden;
padding-top: 30px;
padding-bottom: 30px;
}
.features .feat{
    float: left;
    width: 33.3333%;
    height: 150px;
    background-color: rgb(185, 93, 93);
}

.features .feat h2{
    text-transform: uppercase;
}
/* End features */
/*-----------------------------------------*/
/* start about us */
.about-us{
    background-color: rgb(218, 200, 144);
    overflow: hidden;
}

.about-us .image{
    float: left;
    width: 40%;
}

.about-us .image img{
    width: 100%;
}

.about-us .info{
    float:left;
    text-align: left;
    width: 60%;
    
}

.about-us .info h2{
    text-transform: uppercase;
    margin: 20px;
}

.about-us .info p{
    margin: 20px;
}

.about-us .info .hobbies{
    overflow: hidden;
    margin: 20px;
}

.about-us .info .hobbies > div{
    float: left;
    width: 50%;
    min-height: 100px;
}
/* End about us */
/*--------------------------------------- */
/* Start skills*/
.my-skills{
    padding-top: 30px;
    padding-bottom: 30px;
}

/* End skills */
