
/* Start main rules */
body{
background-color:white;
}
.container{
    width: 1170px;
    margin: auto;
}

.clearfix{
    clear: both; /* تعالج الفلوت الخاصة باليمين واليسار */
}
   
/* End main rules */
/* ----------------------------------------- */
/* Start header */
.header .slider{
/*background-color: rgb(228, 177, 215); */
    height: 550px;
    background-image: url("../../images/6.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:rgb(168, 16, 105);
}

.header .slider .intro {
  height: 500px;
  padding: 250px;
  text-align: center;

}

.header .slider .intro button{
    background: none;
    padding: 10px 20px;
    margin-top: 40px;
    font-size: 17px;
    border: 2px solid rgb(32, 136, 206);
    font-weight: bold;
}
.header .slider .intro button:hover{
    background-color: rgb(173, 213, 236);
    font-size: 20px;
}

.header .slider .intro h2{
    margin: 0px auto;
    font-size: 45px;
    width: 200px;
    border-top: 4px solid rgb(32, 136, 206);
    border-bottom: 4px solid rgb(32, 136, 206);
    padding: 5px 0px;
}

.header .navbar{
background-color: rgb(56, 53, 45);
color: rgb(32, 136, 206);
overflow: hidden;
}

.header .navbar h2{
    float: left;
    text-transform: uppercase;
}

.header .navbar h2 span{
float: left;
color: rgb(214, 75, 156);
font-size: 40px;
}

.header .navbar ul{
list-style: none;
padding-left: 0px;
overflow: hidden;
float: right;
}

.header .navbar ul li {
    float: right;
    padding: 10px;
    text-transform: uppercase;

}

.header .navbar ul li a {
color: white;
text-decoration: none;
}

.header .navbar ul li.active a,
.header .navbar ul li a:hover {
    color: rgb(32, 136, 206);
}
/* End header */
/* ----------------------------------------- */
/* start features */
.features{
overflow: hidden;
padding-top: 50px;
padding-bottom: 50px;
}
.features .feat{
    float: left;
    width: 33.3333%;
    height: 150px;
   /*
    background-color: rgb(185, 93, 93); 
   */
}

.features .feat h2{
    text-transform: uppercase;
    color: #555;
   
}
.features .feat p{
    line-height: 1.3;
    color: rgb(46, 99, 148);
    text-align:left;
    padding: 0px 30px 0px 0px;
}
/* End features */
/*-----------------------------------------*/
/* start about us */
.about-us{
    background-color: rgb(218, 200, 144);
    overflow: hidden;
}

.about-us .image{
    float: left;
    margin-top: 10%;
    width: 35%;
}

.about-us .image img{
    width: 100%;
}

.about-us .info{
    float:left;
    text-align: left;
    width: 65%;
}

.about-us .info h2{
    text-transform: uppercase;
    margin: 40px 0px 20px 40px;
    line-height: 1.6;
    
}

.about-us .info > p{
    margin: 0px 0px 10px 40px;
}

.about-us .info > p:last-of-type{
 /*  هاي معناها اخر براغراف بس  من البراغرافس اللي جوا الانفو اعطيها هاي الخصائص */
    margin-top: 20px;
    color: rgb(71, 64, 64);
}
.about-us .info p{
   line-height: 21.4px;
    color: rgb(71, 64, 64);
}

.about-us .info .hobbies{
    overflow: hidden;
    margin: 40px 0px 0px 40px;
}

.about-us .info .hobbies .content{
    float: left;
    width: 50%;
    min-height: 100px;
    overflow: hidden;
}
.about-us .info .hobbies .content .icons{
    float: left;
    width: 20%;
    margin-right: 5%;/* %25 =  المارجن هون مع الويدث   
                 لتيكست  لويدث   بنعطيهم  75%   بضل   */
    
}
.about-us .info .hobbies .content .icons img{
    max-width: 100%; /* هاي عشان  صورة الايقونة ما تطلع عن الويدث اللي حطينالها ياه اللي هو 40 بكسل  */
    margin: 20px 10px 0px 0px;
 /* margin : فوق يمين تحت يسار */

}
.about-us .info .hobbies .content .text{
    float: left;
    width: 75%;
}
/* End about us */
/*--------------------------------------- */
/* Start skills*/
.my-skills{
    padding-top: 30px;
    padding-bottom: 50px;
    overflow: hidden;
}

.my-skills .skills , 
.my-skills .progress{
width: 50%;
float: left;
padding-top: 30px;
padding-bottom: 30px;
}

.my-skills .skills h2{
    text-transform: uppercase;
    margin: 40px 0px 20px 40px;
    line-height: 1.6;
    
}

.my-skills .skills p{
    margin: 0px 0px 10px 40px;
}

.my-skills .skills p:last-of-type{
 /*  هاي معناها اخر براغراف بس  من البراغرافس اللي جوا الانفو اعطيها هاي الخصائص */
    margin-top: 20px;
    color: rgb(71, 64, 64);
}
.my-skills .skills button{
    margin-left: 198px;
    margin-top: 57px;
}
.my-skills .skills button:hover{
    border: 3px solid #bd2a98 ;
    color: #bd2a98;
}

.my-skills .progress .tools{
    margin-left: 50px;
}
.my-skills .progress .tools div{
    background-color: #f575d3 ;
    height: 25px;
}
.my-skills .progress .tools div span{
    background-color: rgb(88, 174, 231);;
    height: 25px;
    text-align: right;
    line-height: 25px;
    display: block;
    color: white;
    font-weight: bold;
}

/* End skills */
/* ------------------------------------------ */
/* Start resume */
.resume{
    background-color: rgb(218, 200, 144);
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
}
.resume h2{
    text-transform: uppercase;
    font-weight: bold;
    color: #666;
}

.resume button{
    margin-top: 30px;
}
.resume button:hover{
    border: 3px solid #e761c6 ;
    color: #e761c6 ;
}

/* End resume */
/* ---------------------------------------------------*/
/* start education */
.my-education{
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}
.my-education .main{
    width: 45%;
    float: left;
    margin-right: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.my-education .expe{
    width: 50%;
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.my-education .expe h3{
    margin-top: 37px;
    margin-bottom: 5px;
}


.my-education .expe span{
    display: block;
}


.my-education .work,
.my-education .expe{
    width: 50%;
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.my-education .main h2,
.my-education .work h2{
    text-transform: uppercase;
    margin: 15px 0px 20px 40px;
    line-height: 6px;
    
}

.my-education .main p ,
.my-education .work p
{
    margin: 0px 0px 10px 40px;
}

.my-education .main p:last-of-type{
    margin-top: 20px;
    color: rgb(71, 64, 64);
}




/* End educatiom*/
/* ------------------------------------------------*/
/* start test-imonias*/
.test-imonias{
    background-color: rgb(155, 190, 179);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
/* End test-imonias*/
/* ---------------------------------------------*/
/* start portfiulio*/
.portfulio{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.portfulio .our-work{
overflow: hidden;
}

.portfulio .our-work > div{  /* اشارة الاكبر معناها الديف اللي جواه فورا اول ابن له يعني */
float: left;
width: 33.3333%;
margin-bottom: 10px;
}
.portfulio .our-work > div img{
    width: 92%;
    margin: 10px;
}
/* End portfiulio*/
/* --------------------------------------------*/
/* start contact*/
.contact{
    background-color: rgb(97, 112, 107);
    overflow: hidden;
}
.contact h2{
    color: white;
}
.contact p{
    color: rgb(202, 194, 194);
}
.contact .info-contact ,
.contact .form {
    width: 50%;
    float: left;
}
/* End contact*/
/* ---------------------------------------------*/
/* start footer*/
.footer{
    background-color:rgb(61, 66, 65);
    padding: 20px 0px;
    text-align: center;
}
/* End footer*/

/* start my freamwork */

.my-button{
    background: none;
    border: 3px solid rgb(32, 136, 206); ;
    padding: 10px 30px;
    color: rgb(32, 136, 206);;
    font-weight: bold;
}

/* End my freamwork */







