
/* Start main rules */
body{
background-color: antiquewhite;
}
.container{
    width: 1170px;
    margin: auto;
}
/* End main rules */
/* ----------------------------------------- */
/* Start header */
.header .navbar{
background-color: cadetblue;
}
/* End header */