
/* Start main rules */
body{
background-color:white;
}
.container{
    width: 1170px;
    margin: auto;
}
/* End main rules */
/* ----------------------------------------- */
/* Start header */
.header .navbar{
background-color: rgb(150, 216, 112);
color: rgb(61, 19, 160);
}

.header .navbar ul{
list-style: none;
padding-left: 0 px;
}

.header .navbar ul li{
    float: left;
    padding: 10 px;
}
/* End header */