/* start footer*/
.footer{
    background-color:rgb(206, 44, 179);
    padding: 10px ;
    overflow: hidden;
    text-align: center;
}

.footer span{
    float: right;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 100%;
    color: #550641;
}

.footer ul{
    width: 100%;
    list-style: none;
    padding-left: 0px;
    float: right;
}

.footer ul li{
   display: inline-block;
   width: 40px;
   margin:0px 5px 0px ;
}

.footer ul li img{
    width: 100%;
    padding: 5px;
}
.footer ul li img:hover{
    border: 0px solid rgb(223, 85, 188);
    border-radius: 40px;
    box-shadow: 0px 1px 15px rgb(149, 9, 177);
}
/* End footer*/
