* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-card {
    background: rgb(239, 238, 238);
    border: 1px solid rgba(255, 255, 255, 0.20);
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    width: 100%;
    position: relative;
    border: none;
}

.card {
    width: 80% !important;
    margin: auto;
    background: rgb(239, 238, 238);
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border: none;
}

.card::before {
    content: '';
    position: absolute;
    top: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border-top: 5px solid transparent;
}

.card:hover::before {
    animation: animate 3s linear forwards;
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border-top-color: #9a08ad;
    }
    50% {
        width: 30%;
        height: 0;
        border-top-color: #530586;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: #fc5da3;
    }
}

.layer {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    background: linear-gradient(to right, #cc94e5, #9a08ad);
    height: 150px;
    border-radius: 20px 20px 75px 75px;
}

.layer2 {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    background: linear-gradient(to right, #8259e2, #530586);
    height: 150px;
    border-radius: 20px 20px 75px 75px;
}

.layer3 {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    background: linear-gradient(to right, #fe3180a9, #fc5da3);
    height: 150px;
    border-radius: 20px 20px 75px 75px;
}

.round,
.round1,
.round2 {
    position: absolute;
    top: -29px;
    left: -31px;
    z-index: 0;
    width: 60px;
    margin: 0% 50%;
    background: linear-gradient(to right, #cc94e5, #9a08ad);
    height: 60px;
    border-radius: 50%;
    text-align: center;
    border: 5px solid #fff;
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.card-text {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #b332ac;
}

p {
    font-size: 15px;
}

.span {
    display: inline;
    padding: 0 60px;
}

.span-date {
    display: inline;
    padding: 0 115px 0 30px;
}

.p {
    margin-top: 5px;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
}

.round1 {
    background: linear-gradient(to right, #8259e2, #530586)
}

.round2 {
    background: linear-gradient(to right, #fe3180, #fc96c2);
}

.col-md-4 {
    margin: 120px auto;
}

.tabbb1 {
    border: solid 1px rgb(43, 42, 42);
    font-size: 12px;
    text-align: center;
}

.tabbb1 tr th {
    border: 1px solid rgb(66, 65, 65);
    padding: 3px;
}

.tabbb1 tr td {
    padding: 3px;
    border: 1px solid rgb(66, 65, 65);
}

.tabbb {
    margin: 0 10px;
    border: solid 1px rgb(43, 42, 42);
    font-size: 15px;
    text-align: center;
}

.tabbb tr th {
    border: 1px solid rgb(66, 65, 65);
    padding: 10px;
}

.tabbb tr td {
    padding: 10px;
    border: 1px solid rgb(66, 65, 65);
}