*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
body{
    user-select: none;
}
.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(135deg,#71b7e6,#9b59b6);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 388px;
    height: 520px;
    position: relative;
    border-radius: 20px;
    margin:4% auto ;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.input-group{
    top: 85px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.input-field{
    width: 100%;
    padding: 8px 0;
    margin: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}
.submit-btn{
    width: 85%;
    padding: 10px 30px ;
    cursor: pointer;
    display: block;
    margin:10px 20px;
    background: linear-gradient(to right,#71b7e6,#9b59b6);
    border-radius: 20px;
    border: none;
    
}













