*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/images/img/1000.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}
.container{
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh -280px);
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
header{
    position: absolute;
    top: -70px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(238, 170, 227, 0.3);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    border: 1px solid rgb(255, 255, 255);
    
}
header a.logo{
    float: left;
    font-size: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: #bc65c7;
}
header .logo span{
    float: right;
    color: rgb(51, 14, 136);
    font-size: 30px;
}
header ul{
    display: flex;
}
header ul li{
    list-style: none;
    margin: 0 10px;
}
header ul li a{
    text-decoration: none;
    font-weight: 500;
    color: rgb(99, 6, 6);
    padding: 8px 15px;
    border-radius: 25px;
}
header ul li a:hover,
header ul li a.active{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
header ul li a.active:hover{
    box-shadow: 0 2px 20px rgb(255, 255, 255);
}
.content{
    transform: translateX(-100px);
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    border: 1px solid rgb(255, 255, 255);
    padding: 15px;
    padding-left: 50px;
}
.content h2{
    font-size: 2rem;
    padding-bottom: 20px;
    color: rgb(88, 66, 138);

}
/* .content a{
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: rgb(233, 120, 144);
    margin-top: 20px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
} */
table{
    padding:10px;
}
table tr th{
    padding: 10px 40px;
    border: 2px solid #45566e;
    border-radius: 10px;
    color: #2a3d9d;
}
table tr td {
    padding: 10px;
    border: 1px solid #c3b4b4;
    border-radius: 10px;
    text-align: center;
    
}
table tr td button{
    border: none;
    border-radius: 50px;
    background: linear-gradient(#717de6,#b659a7);
    cursor: pointer;
    margin: 3px 15px;
    padding: 0 0;
    width: 161px;
    height: 75px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    
}
table tr td button:hover{
    background: linear-gradient(#e075ce,#8893f5);
}
.imgbox img{
    max-width: 400px;
    height: 380px;
    border-radius: 70px;
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(90px);
    }
}

