
*{
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    background:rgb(189, 186, 238)
}













