
*{
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    background:rgba(183, 199, 230, 0.459)
}
nav{
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 90px;
    /* /////////////////////////////////
    width: 280px; */
    background: #fff;
    overflow: hidden;
    transition: 1s;
}
nav:hover{
    width: 280px;
    transition: 1s;
}

.logo{
    text-align: center;
    display: flex;
    margin: 10px 0px 0px 10px;
    padding: bottom 3rem ;
}
.logo img{
    width:60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    width: 200px;
    font-size: 14px;
    color: rgb(100, 87, 110);
    display: table;
    padding: 10px;
}
.main-top button {
    
    font-size: 50px;
}
nav .fa-solid{
    position: relative;
    width: 70px;
    height: 40px;
    top: 20px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin: 10px;
}
a:hover{
    background: rgba(140, 182, 230, 0.658);
}

a:hover i{
    color: #d148e4;
    transition: 0.3s;
}
.logout{
    position: absolute;
    bottom: 20px;
}
.container{
    display: flex;
}
/* -----MAIN SECTION -------- */
.main{
    position: relative;
    padding: 20px;
    width: 100%;
}
.main-top{
    display: flex;
    width: 100%;
}
.main-top i{
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: #21bd29;
    cursor: pointer;
}
.main-top .fa-solid{
    color: #d148e4;
    font-size: 20px;
}
.input {
    width: 50%;
    height: 55px;
    border-radius: 30px;
    padding-left: 30px;
}
.main .users{
    display:flex;
    width: 90%;
    margin: 10px auto;
    margin-bottom: 130px;
}
.users .card{
    width: 100%;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 10px rgb(123, 124, 133);
}
.users .card img{
    width:90px;
    height: 90px;
    border-radius: 50%;
}
.users .card h4{
    text-transform: uppercase;
}
.users .card button{
    width: 100%;
    margin-top: 8px;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #743cf7;
}
.users .card button:hover{
    background:#743cf77c;
    color:#fff;
    transition: 0.3s ;
}
/* -------------ATTENDENCE SECTION --------- */
.attendence{
    margin-top: 20px;
    text-transform: capitalize;
}
.attendence-list{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 25px rgb(63, 74, 221);
}
.table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius:5px;
}
table thead tr{
    color: rgb(13, 5, 58);
    background: #a282eb46;
    text-align: left;
    font-weight: bold;
}
.table th,
.table td{
    padding: 12px 15px;
    text-align: center;
}
.table tbody tr{
    border-bottom: 1px solid rgb(73, 27, 180);
}
.table tbody tr:nth-of-type(odd){
    background: #427dec23;
}

.table tbody tr:last-of-type{
    border-bottom: 2px solid rgb(129, 4, 123);
}
.table button{
    padding: 6px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    background: transparent;
    border: 1px solid #743cf7;
}
.table button:hover{
    background:#743cf760;
    color: #fff;
}





