*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:cursive;
}
:root{
    /* ------------colors ----------------*/
    --primary-color:#0E4BF1;
    --panel-color: #FFF;
    --text-color:#000;
    --black-light-color:#707070;
    --border-color:#e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color:#FFE6AC;
    --box3-color: #E7D1FC;       
    --title-icon-color: #fff;
    /*--------------- transition--------- */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}
body{
    min-height: 100vh;
    background-color: var(--primary-color);
}
body.Dark{
    /* ------------colors ----------------*/
    --primary-color:#3a3b3c;
    --panel-color: #242526;
    --text-color:#ccc;
    --black-light-color:#ccc;
    --border-color:#4d4c4c;
    --toggle-color: #fff;
    --box1-color: #3a3b3c;
    --box2-color:#3a3b3c;
    --box3-color: #3a3b3c;       
    --title-icon-color: #ccc;
    /* ----------------------------------- */
}
nav{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color); 
    transition: var(--tran-05);
}
nav .close{
    /* class by java script was created */
    width: 73px;
}

nav .logo-name{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
    /* background-color: red; */
}
nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
nav .logo-name .logo_nameee{
    margin-left: 14px;
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    transition: var(--tran-05);
}
nav .close .logo-name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100%-90%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    /* the dote before dashboard and customer .....etc */
    position: absolute;
    content: "";
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
.menu-items li i{
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    color: var(--black-light-color);
    font-size: 24px;
}
.menu-items li a .link-name{
    color: var(--black-light-color);
    font-size: 18px;
    font-weight: 400;
    transition: var(--tran-05);
}

nav .close li a .link-name{
    opacity: 0;
    pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name,
.logout-mode li a:hover .link-name,
.logout-mode li a:hover i
{
    color: var(--primary-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius:25px ;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.Dark .switch:before{
    left: 20px;
}
/* ---------------------------------- */
/* ---------dashboard section----------- */
.dashboard{
    
    height: 100vh;
    width: calc(100%-250px);
    position: relative;
    left: 250px;
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav .close ~ .dashboard{
    left: 73px;
    width: calc(100%-73px);
}
.dashboard .top{
    position: fixed;
    top: 0px;
    left: 250px;
    display: flex;
    width: calc(100%-250px);
    justify-content: space-between;
    padding: 10px 14px;
    align-items: center;
    background-color: var(--panel-color);
    transition: var(--tran-05);
}
nav .close ~ .dashboard .top{
    left: 73px;
    width: calc(100%-73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0px 30px;
    background-color: red;
}
.top .search-box input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 0px 25px 0px 50px;
    position: absolute;
    background-color: var(--panel-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
}
.top .search-box input{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}


