
*{
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    background: rgb(rgb(230, 135, 135), rgb(148, 226, 148), rgb(123, 123, 209));
}













