*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:cursive;
}
:root{
    /* ------------colors ----------------*/
    --primary-color:#0E4BF1;
    --panel-color: #FFF;
    --text-color:#000;
    --black-light-color:#707070;
    --border-color:#e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color:#FFE6AC;
    --box3-color: #E7D1FC;       
    --title-icon-color: #fff;
    /*--------------- transition--------- */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}
body{
    min-height: 100vh;
    background-color: var(--primary-color);
}
nav{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
}
nav .logo-name{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
    background-color: red;
}
nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
nav .logo-name .logo_nameee{
    margin-left: 14px;
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100%-90%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.menu-items li a:hover::before{
    /* the dote before dashboard and customer .....etc */
    position: absolute;
    content: "";
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
.menu-items li i{
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    color: var(--black-light-color);
    font-size: 24px;
}
.menu-items li a .link-name{
    color: var(--black-light-color);
    font-size: 18px;
    font-weight: 400;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}











