*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    /* ------------colors ----------------*/
    --primary-color:#0E4BF1;
    --panel-color: #FFF;
    --text-color:#000;
    --black-light-color:#707070;
    --border-color:#e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color:#FFE6AC;
    --box3-color: #E7D1FC;       
    --title-icon-color: #fff;
    /*--------------- transition--------- */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}
nav .logo-image{
    min-width: 45px;
    background-color: red;
}
nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}









