
*{
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: cursive;
}
:root{
    /* ------------colors ----------------*/
    --primary-color:rgba(183, 199, 230, 0.459);
    --second-color:rgba(181, 105, 231, 0.651);
    --panel-color: #FFF;
    --text-color:#000;
    --black-light-color:#4b4848;      
    --title-color: #fff;
    --shadw-color:#3c7cdb;
    --hover-color:#d148e4;
    --table-colors:rgb(13, 5, 58);
    --button-color:#743cf7;
}
body{
    background:var(--primary-color);
}
nav{
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 90px;
    /* /////////////////////////////////
    width: 280px; */
    background:var(--panel-color);
    overflow: hidden;
    transition: 1s;
}
nav:hover{
    width: 280px;
    transition: 1s;
}

.logo{
    text-align: center;
    display: flex;
    margin: 10px 0px 0px 10px;
    padding: bottom 3rem ;
}
.logo img{
    width:60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    width: 200px;
    font-size: 14px;
    color:var(--black-light-color);
    display: table;
    padding: 10px;
}
.search-icon{
    width: 5%;
    height: 55px;
    background-image: url(/images/img/search.png);
    background-position: center;
    background-color: var(--second-color);
    background-size: 50px;
    background-repeat: no-repeat;
    border: 1px solid var(--black-light-color);
    border-radius: 30px;
    float: right;
    margin: 20px 20px;
    
}
.search-icon:hover{
    background-color: var(--second-color);
    box-shadow: 0px 2px 20px var(--shadw-color);
}
button{
    background-color: none;
}
nav .fa-solid{
    position: relative;
    width: 70px;
    height: 40px;
    top: 20px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin: 10px;
}
a:hover{
    /* background:var(--primary-color); */
    text-shadow: 0px 2px 10px var(--shadw-color);
}

a:hover i{
    color: var(--hover-color);
    transition: 0.3s;
}
.logout{
    position: absolute;
    bottom: 20px;
}
.container{
    display: flex;
}
/* -----MAIN SECTION -------- */
.main{
    position: relative;
    padding: 20px;
    width: 100%;
}
.main-top{
    display: flex;
    width: 100%;
    justify-content: center;
}
.main-top i{
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: var(--text-color);
    cursor: pointer;
}
.main-top .fa-solid{
    color: var(--hover-color);
    font-size: 20px;
}
.input {
    width: 50%;
    height: 55px;
    border-radius: 30px;
    padding-left: 30px;
    margin-bottom: 50px;
    margin-top: 20px;
}
.main .users{
    display:flex;
    width: 90%;
    margin: 10px auto;
    margin-bottom: 130px;
}
.users .card{
    width: 100%;
    margin: 10px;
    background: var(--panel-color);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 10px var(--black-light-color);
}
.users .card img{
    width:90px;
    height: 90px;
    border-radius: 50%;
}
.users .card h4{
    text-transform: uppercase;
}
.users .card button{
    width: 100%;
    margin-top: 8px;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    border: 1px solid var(--text-color);
}
.users .card button:hover{
    background:var(--second-color);
    color:var(--text-color);
    box-shadow: 0px 2px 30px var(--panel-color);
    transition: 0.3s ;
}
/* -------------ATTENDENCE SECTION --------- */
.attendence{
    margin-top: 20px;
    text-transform: capitalize;
}
.attendence-list{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: var(--panel-color);
    border-radius: 20px;
    box-shadow: 0 2px 25px var(--shadw-color);
}
.table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius:5px;
}
table thead tr{
    color: var(--table-colors);
    background: var(--second-color);
    text-align: left;
    font-weight: bold;
}
.table th,
.table td{
    padding: 12px 15px;
    text-align: center;
}
.table tbody tr{
    border-bottom: 1px solid var(--table-colors);
}
.table tbody tr:nth-of-type(odd){
    background: var(--primary-color);
}

.table tbody tr:last-of-type{
    border-bottom: 2px solid var(--hover-color);
}
.table button{
    padding: 6px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    background: transparent;
    border: 1px solid var(--button-color);
}
.table button:hover{
    background:var(--button-color);
    color: #fff;
}
/* -------------------------------------------- */
/* -------NIGHT MODE------- */
.mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    left: 45px;
    bottom: 13px;
    border-radius:25px ;
    background-color: var(--black-light-color);
}
.switch:before{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.Dark .switch:before{
    left: 20px;
}
body.Dark{
    --primary-color:rgba(77, 78, 77, 0.459);
    --second-color:#968f96;
    --panel-color: rgba(18, 19, 20, 0.459);;
    /* --text-color:rgb(228, 83, 83); */
    --black-light-color:#23242b;      
    --title-color: rgba(8, 9, 10, 0.459);
    --shadw-color:#ffffff;
    --hover-color:#f7f3f7;
    --table-colors:rgb(20, 17, 34);
    --button-color:#060607;
}

