*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
    
}
/* section{
    position: relative;
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: inherit;
}
.container{
    width: 70%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.accord-item{
    background-color: rgba(207, 190, 164, 0.534);
    border-radius: 20px;
    margin-bottom:30px ;
    padding: 20px;
    box-shadow: 0 2px 20px rgb(245, 176, 98);
}
h2.title{
    font-size: 26px;
    color: rgb(54, 53, 53);
    padding-bottom: 20px;
    text-shadow: 0 2px 25px rgb(92, 69, 6);
    align-items: center;
}
div.paragraph{
    font-size:16px ;
    color: rgb(84, 85, 87);
    font-weight: bold;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
} */
/* ------------------------------------------ */
section{
    position: relative;
    width: 100%;
    /* height: 570px; */
    min-height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background: rgb(247, 234, 217);
}
div.one{
    position: relative;
    width: 100%;
    /* height: 570px; */
    min-height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(247, 234, 217); 
}
header{
    top: -71px;
    left: 0;
    padding: 100px 85px;
    position: absolute;
    width: 100%;
    min-height: 29vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(237 203 184);
}
header .logo{
    position: relative;
    max-width: 88px;
}
.logo img{
    width:150px;
    height: 150px;
    border-radius: 30px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li {
    list-style: none;
    cursor: pointer;
    font-size: 25px;
}

header ul li a{
    text-decoration-line: none;
    display: inline-block;
    margin-left: 40px;
    margin-right: 30px;
    color: #ca5a14;
}

header ul li a:hover{
    color: rgb(107, 59, 4);
    text-shadow: 0 2px 20px #dd7e59;
}
.textBox{
    width: 630px;
    height: 165px;
    padding: 20px;
    line-height: 1.7;
}
span{
    font-size: 30px;
    color: #dd7e59;
}
p{
    padding: 40px 0;
    color: #726a65;;
}

img.wedding{
    width: 275px;
    height: 390px;
    top: 145px;
    right: 100px;
    position: relative;
    
    border-radius: 100px;
}
div.tow{
    width: 100%;
    position: relative;
    left: 0px;
    display: block;
    background-color: rgb(140, 161, 154);
}




















