*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
}
section{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
}

.according{

}
.title{

}










