*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    background: radial-gradient(#fff,#ffd6d6);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar{
    display:flex;
    align-items: center;
    padding: 20px;

}
nav{
    flex: 1;
    text-align: center;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 25px;  
}
a{
    /* Home   About us   Contact*/
    text-decoration: none;
    color: #555;
}
p{ /* Home   About us   Contact*/
    color: #555;
}
.logo{

}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.colum-2{
    flex-basis: 50%;
    min-width: 300px;
}
.colum-2 img{
    max-width:100% ;
    padding: 50px 0px;
}
.colum-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0px;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
}









