*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar{
    display:flex;
    align-items: center;
    padding: 20px;

}
nav{
    flex: 1;
    text-align: center;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 25px;  
}
a{
    /* Home   About us   Contact*/
    text-decoration: none;
    color: rgba(106, 42, 117, 0.726);
    font-size: 23px;
    transition:text-shadow 0.4s ;
}
a:hover{
    text-shadow: 2px 4px 35px #9b0a77;
}
p{ /* Home   About us   Contact*/
    color: #555;
   
}
.logo img{
    border-radius: 70px;
    width:25%;
}

.header{
    background: radial-gradient(rgba(207, 109, 139, 0.781),#eedcdc);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header .row{
    margin-top: 70px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.colum-2{
    flex-basis: 50%;
    min-width: 300px;
}
.colum-2 img{
    max-width:100% ;
    padding: 50px 0px;
    border-radius: 30%;
}
.colum-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0px;
}
.btn{
    display: inline-block;
    background: #741b68;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #ac4bd3;
    color: rgb(17, 5, 19);
    box-shadow: 2px 4px 25px #d735ec;
}
/* ----------- categories---------------------
.categories{
    margin: 0px 0px;
    padding-bottom: 50px;
    background: #f3dbdba4;
}
.colum-3{
    flex-basis: 60%;
    min-width: 250px;
    margin-bottom: 20px;
}
.colum-3 img{
    width:100%;
    height: 300px;
    transition: transform 0.4s;
}
.colum-3 img:hover{
    transform: translateY(-10px);
    box-shadow: 0px 4px 30px #f352cb;
}
*/
.small-container{
    max-width: 1080px;
    margin:auto;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
} 


.colum-4{
    flex-basis: 25%;
    padding:10px ;
    min-width: 200px;
    margin-bottom: 50px;
   
}
.colum-4 img{
    width: 100%;
    height: 300px;
    transition: transform 0.4s;
}
.colum-4 img:hover{
    transform: translateY(-10px);
    box-shadow: 0px 2px 20px #ff523b;
}
.colum-4 p{
    font-size: 14px;
}
.title{
    text-align: center;
    margin: 0px auto 80px;
    position: relative;
    line-height: 60px;
    color: rgba(68, 12, 100, 0.705);
}
.title::after{
    content: '';
    background: #5e035e;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
h4{
   color: #555; 
   font-weight: normal;
}
.input-field{
   
    width: 100%;
    height: 60px;
    padding: 8px 10px;
    background: rgb(235, 211, 211);
    margin: 19px -3px;
    border: 2px solid rgb(122, 81, 97);
    border-radius: 50px;
    display: inline-block;
    align-items: center;
}
.input-field i{
    /*
    هون ديزاين الايقونات اللي جوا الحقل  يعني القفل والشخص لليوزر نيم 
     */
    flex: 2;
    width: 40%;
    padding: 0px;
    text-align: center;
    color: rgb(36, 31, 31);
    font-size: 18px;
}

.input-field i input{/* search field*/
    flex: 5;
    background: #fffdfea9;
    outline: 0px;
    border: none;
    border-radius: 40px;
    height: 30px;
    padding: 20px 2px;
    text-align: center;
    width: 60%;
    margin-left: 80px;
    font-size: 18px;
    color: #444;
}
.search-icon{
    width: 10%;
    height:  40px;
    background-image: url(/images/img/search.png);
    background-position: center;
    background-color: rgba(159, 47, 182, 0.26);
    background-size: 50px;
    background-repeat: no-repeat;
    border:1px solid #776b6c;
    border-radius: 30px;
    float: right;
    margin: 0px 70px;
}
.search-icon:hover{
    background-color: rgba(160, 47, 182, 0.397);
    box-shadow: 0px 2px 20px #cf70b7;
}
button{
    background-color: none;
}

/*---------------------------------------------

.products-preview{
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;
}

.products-preview .preview{
   display: none;
   padding:2rem;
   text-align: center;
   background: #fff;
   position: relative;
   margin:2rem;
   width: 40rem;
}

.products-preview .preview.active{
   display: inline-block;
}

.products-preview .preview img{
   height: 30rem;
}

.products-preview .preview .fa-times{
   position: absolute;
   top:1rem; right:1.5rem;
   cursor: pointer;
   color:#444;
   font-size: 4rem;
}

.products-preview .preview .fa-times:hover{
   /* transform: rotate(90deg); */
   color: red;
}

.products-preview .preview h3{
   color:#444;
   padding:.5rem 0;
   font-size: 2.5rem;
}


.products-preview .preview p{
   line-height: 1.5;
   padding:1rem 0;
   font-size: 1.6rem;
   color:#777;
}

.products-preview .preview .price{
   padding:1rem 0;
   font-size: 2.5rem;
   color:#27ae60;
}

.products-preview .preview .buttons{
   display: flex;
   gap:1.5rem;
   flex-wrap: wrap;
   margin-top: 1rem;
}

.products-preview .preview .buttons a{
   flex:1 1 16rem;
   padding:1rem;
   font-size: 1.8rem;
   color:#444;
   border:.1rem solid #444;
}

.products-preview .preview .buttons a.cart{
   background: #444;
   color:#fff;
}

.products-preview .preview .buttons a.cart:hover{
   background: #111;
}

.products-preview .preview .buttons a.buy:hover{
   background: #444;
   color:#fff;
}
/* -------------------start footer-----------------------*/
.footer{
    background-color:#ee92a1c2;
    padding: 10px ;
    overflow: hidden;
    text-align: center;
}

.footer span{
    float: right;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 100%;
    color: #1d1516;
}

.footer ul{
    width: 100%;
    list-style: none;
    padding-left: 0px;
    float: right;
}

.footer ul li{
   display: inline-block;
   width: 40px;
   margin:0px 5px 0px ;
}

.footer ul li img{
    width: 100%;
    padding: 5px;
}
.footer ul li img:hover{
    border: 0px solid rgb(211, 10, 37);
    border-radius: 40px;
    box-shadow: 0px 1px 15px rgb(223, 70, 82);
}

.container-footer{
    width: 1170px;
    margin: auto;
}
/* End footer*/





