*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    display:flex;
    align-items: center;
    padding: 20px;

}
nav{
    flex: 1;
    text-align: center;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;  
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.logo{

}














