*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
body{
    user-select: none;
}
.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(135deg,#71b7e6,#9b59b6);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 388px;
    height: 520px;
    position: relative;
    border-radius: 20px;
    margin:4% auto ;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 110px;
    margin: 20px 120px;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding:5px 32px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#71b7e6,#9b59b6);
    border-radius: 30px;
    transition: 0.5s ;
}
.input-group{
    top: 85px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.input-field{
    width: 100%;
    padding: 8px 0;
    margin: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}
.submit-btn{
    width: 85%;
    padding: 10px 30px ;
    cursor: pointer;
    display: block;
    margin:10px 20px;
    background: linear-gradient(to right,#71b7e6,#9b59b6);
    border-radius: 20px;
    border: none;
}
.check-box{
    margin: 20px 10px 20px 0;
}
span .log-in{
    position: absolute;
    color: rgb(61, 58, 58);
    font-size: 12px;
    top: 128px;
    position: absolute;

}

#logIn{
    left: 50px;
}
label{
    margin-top: 20px;
}






