*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: "";
    left: 0px;
    bottom: 0px;
    position: absolute;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user-details .input-box{
    margin: 20px 0px 12px 0px;
    width: calc(100%/2-20px);
}
.user-details .input-box .detail{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
}






