*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
.cntainer{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}







