body{
    margin-top: 20px;
    background-color: antiquewhite;
}

.main{
    padding: 15px;
    font-family: cursive;
}
.top-bar{
    background-color: aquamarine;
    overflow: hidden;
}
.top-bar a{
    float: right;
    color: #fff;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 26px;
}
.sidbar{
    background-color: rgb(43, 36, 36);
    color: #fff;
    height: 100%;
}
.sidbar a{
    margin-left: 10px;
    display: block;
    color: rgb(207, 171, 228);
    padding-bottom: 10px;
    font-size: 30px;
    text-decoration: none;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
}




















