*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    height: 1920px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}