*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    height: 100vh;
    font-family:cursive;
    background-color: rgb(68, 50, 82);
    color: rgb(188, 69, 199);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 350px;
    height: 500px;
    box-shadow: 0px 0px 40px 20px rgba(223, 134, 211, 0.26);
    perspective: 1000px;
    background-color: rgba(192, 162, 214, 0.2);
}
.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style:preserve-3d ;
    transition: transform 1s;
}
.card-front,
.card-back{
    position:absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: linear-gradient(rgba(134, 100, 153, 0.527),rgba(43, 18, 63, 0.7)),url('/images/img/k12.jpg');
    background-size: cover;
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
}
.card-back{
    transform: rotateY(180deg);
}
.card h2{
    /* sign up & log in word */
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}
.input-box{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 6px 0px;
    height: 32px;
    border-radius: 20px;
    padding: 0px 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
}
::placeholder{
    color: #fff;/* color of "enter your email & password"*/
    font-size: 12px;
}
button{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 35px 0px 10px;
    height: 32px;
    font-size: 12px;
    border-radius: 20px;
    padding: 0px 10px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
}
.submite-btn{
    position: relative;
}
.submite-btn::after{
    color: rgb(253, 252, 252);
    line-height: 32px;
    font-size: 17px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -1px;
    top: -1px;
}
span{
    font-size: 13px;
    margin-left: 10px;
   
}

.card .btn{
    /* btn i'm not here "sign up"*/
    margin-top: 70px;
}
.card a{
    /* forget password*/
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 8px;
}








