*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    height: 100vh;
    font-family:cursive;
    background-color: rgb(196, 160, 226);
    color: rgb(53, 4, 50);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 350px;
    height: 500px;
    box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.26);
}
.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
}
.card-front,
.card-back{
    position:absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: linear-gradient(rgba(244, 244, 255, 0.6),rgba(0,0,100,0.7)),url('/images/img/k12.jpg');
    background-size: cover;
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
}
.card-back{
    transform: rotateY(180deg);
}
.card h2{
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.input-box{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 6px 0px;
    height: 32px;
    border-radius: 20px;
    padding: 0px 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
}
::placeholder{
    color: #fff;/* color of "enter your email & password"*/
    font-size: 12px;
}
button{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 35px 0px 10px;
    height: 32px;
    font-size: 12px;
}











