*{
    margin: 0px;
    padding: 0px;
}
.container{
    height: 100%;
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    font-weight: 700;
    line-height: 1.5;
    background-color: rgba(189, 156, 214, 0.644);
    color: rgb(48, 9, 49);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Start header */
.header{
   top: 0px;
    padding-bottom: 0px;
    position: absolute;
}
.header .navbar{
    color: rgb(123, 9, 151);
    height: 50px;
    padding: 10px;
    overflow: hidden;
    }
    
    .header .navbar h2{
        float: left;
        text-transform: uppercase;
        
    }
    
    .header .navbar h2 span{
    float: left;
    color: rgb(51, 14, 136);
    font-size: 30px;
    }
    
    .header .navbar ul{
    list-style: none;
    padding-left: 0px;
    overflow: hidden;
    float: right;
    }
    
    .header .navbar ul li {
        float: left;
        padding: 10px;
        text-transform: uppercase;
        
    }
    
    .header .navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    }
    
    .header .navbar ul li.active a,
    .header .navbar ul li a:hover {
        color: rgb(51, 14, 136);
    }
    .header .navbar ul li.active a:hover{
        color: #880d80;
    }
    /* End header */
.container-card{
    margin-top: 110px;
}
.card{
    display: block;
    width: 500px;
    height: 470px;
    box-shadow: 0px 0px 40px 20px rgba(223, 134, 211, 0.26);
    perspective:700px;
    background-color: rgba(192, 162, 214, 0.2);
}
.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style:preserve-3d ;
    transition: transform 1s;
}
.card-front,
.card-back{
    position:absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: linear-gradient(rgba(115, 57, 190, 0.7),rgba(224, 162, 211, 0.8)),url('/images/img/k12.jpg');
    background-size: cover;
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
}
.card-back{
    transform: rotateY(180deg);
}
.card h2{
    /* sign up & log in word */
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}
.input-box{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 6px 0px;
    height: 32px;
    border-radius: 20px;
    padding: 0px 10px;
    box-sizing: border-box;
    color: #fff;
    outline: none;
    text-align: center;
}
::placeholder{
    color: #fff;/* color of "enter your email & password"*/
    font-size: 12px;
}
button{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 35px 0px 10px;
    height: 32px;
    font-size: 12px;
    border-radius: 20px;
    padding: 0px 10px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
}
.submite-btn{
    position: relative;
}
.submite-btn::after{
    color: rgb(253, 252, 252);
    line-height: 32px;
    font-size: 17px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -1px;
    top: -1px;
}
span{
    font-size: 13px;
    margin-left: 10px;
   
}

.card .btn{
    /* btn i'm not here "sign up"*/
    margin-top: 70px;
}
.card a{
    /* forget password*/
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 8px;
}








