*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    height: 100vh;
    font-family:cursive;
    background-color: rgb(196, 160, 226);
    color: rgb(53, 4, 50);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 350px;
    height: 500px;
    box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.26);
}
.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
}
.card-front,
.card-back{
    position:absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: linear-gradient(rgba(244, 244, 255, 0.8),rgba(0,0,100,0.8)),url('/images/img/7.jpg');
    padding: 55px;
    box-sizing: border-box;
}













