*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
}
.search-bar{
    padding: 40px 80px;
    position: relative;
    margin: 40px 65px;
}
form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border-radius: 36px 0 0 36px;
    border: 2px solid #84a8e5;
    font-size: 20px;
	outline: none;
	width: 100%;
	color: #0d2976;
}
form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #012fb1;
	font-size: 22px;
    border: none;
    outline: 6px solid #84a8e5;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
form .form-input h4{
    float: right;
    text-transform: uppercase;
    left: 650px;
    color: #9e15aa;
    position: relative;
}

form .form-input h4>span{
float: right;
color: rgb(65, 68, 197);
font-size: 30px;
}
form .form-input img{
    width: 110px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    margin-left: 20px;
    left: 930px;
}

 .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
    padding: 0 35px;
	color:black;
}
.table-data p{
    text-align: center;
}
 .table-data > div {
	border-radius: 30px;
	background: #c0d4f3b0;
	padding: 20px;
	overflow-x: auto;
}
.table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
 .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
.table-data .head .bx {
	cursor: pointer;
}
.table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
    
}
.table-data .order table {
	width: 100%;
	border-collapse: collapse;
    border: 1px solid rgb(58, 55, 55);
    border-radius: 20px;
}
.table-data .order table th {
	padding: 7px;
	font-size: 15px;
    color: rgb(156, 67, 216);
	text-align: center;
	border-bottom: 1px solid rgb(49, 45, 45);
}
 .table-data .order table td {
	padding: 13px 3px;
    text-align: center;
    justify-content: center;
}
 /* .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
    text-align: center;
	grid-gap: 12px;
	padding-left: 6px;
} */
.table-data .order table td img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	object-fit: cover;
}
.table-data .order table tbody tr:hover {
	background: rgba(165, 183, 233, 0.658);
}
.table-data .order table tr td button.status {
	font-size: 13px;
	padding: 6px 16px;
	color:rgb(34, 32, 32);
	font-weight: 700;
   
}
 .table-data .order table tr td button.status.Acceptance {
	background: rgb(50, 139, 65);
    color: rgb(255, 255, 255);
    border-radius: 20px; 
    border: none;
    cursor: pointer;
}
.table-data .order table tr td button.status.Reject{
	background:rgb(240, 114, 110);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.table-data .order table tr td button.status.Acceptance:hover,
.table-data .order table tr td button.status.Reject:hover{
    box-shadow: 0 2px  20px #5176dffd;
}

