

 .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
 .table-data > div {
	border-radius: 30px;
	background: #c0d4f3b0;
	padding: 20px;
	overflow-x: auto;
}
.table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
 .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
.table-data .head .bx {
	cursor: pointer;
}
.table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
.table-data .order table {
	width: 100%;
	border-collapse: collapse;
    border: 1px solid rgb(58, 55, 55);
    border-radius: 20px;
}
.table-data .order table th {
	padding: 7px;
	font-size: 15px;
    color: rgb(156, 67, 216);
	text-align: center;
	border-bottom: 1px solid rgb(49, 45, 45);
}
 .table-data .order table td {
	padding: 13px 3px;
    text-align: center;
    justify-content: center;
}
 .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
    text-align: center;
	grid-gap: 12px;
	padding-left: 6px;
}
.table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
.table-data .order table tbody tr:hover {
	background: var(--grey);
}
.table-data .order table tr td .status {
	font-size: 13px;
	padding: 6px 16px;
	color:rgb(34, 32, 32);
	border-radius: 20px;
	font-weight: 700;
}
 .table-data .order table tr td .status.completed {
	background: var(--blue);
}
.table-data .order table tr td .status.process {
	background: var(--yellow);
}
.table-data .order table tr td .status.pending {
	background: var(--orange);
}
