*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    
}
main{
    width: 470px;
    height: 570px;
    background-color: #eecee6cc;
    margin: 20px auto;
    padding: 20px 0;
    border: 3px solid #f5f5f560;
    border-radius: 50px;
    box-shadow: 2px 1px 15px #9946c9;
}
h1{
    text-align: center;
    font-size: 65px;
    color: rgb(66, 80, 80);
    margin: 0px auto;
    text-shadow: 2px 2px 15px rgb(221, 162, 255);
}
h2{
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px gray;
}
p{
    width: 350px;
    margin: 20px auto;
    font-size: 20px;
    line-height: 35px;
}
div{
    padding: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    width: 50px;
    margin: 0 10px ;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    outline: none;
    text-align: center;
    padding: 10px;
}
button{
    width: 90%;
    margin: 20px 5% ;
    font-size: 25px;
    font-weight: bold;
    background: orange;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
}
h4{
    text-align: center;
    width: 60%;
    margin: 25px auto auto auto;
    font-size: 20px;
    text-transform: capitalize;
}
span{
    color: coral;
    cursor: pointer;
}





