*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    padding: 50px 185px;
    
}
.wrapper{
    max-height: 120px;
    border: 1px solid #fff;
    display: flex;
    overflow-x: auto;
    border-radius: 55px;

}
.wrapper .item{
    min-width: 110px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #ddd;
}











