*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
body{
    user-select: none;
}
.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(135deg,#71b7e6,#9b59b6);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 388px;
    height: 480px;
    position: relative;
    margin:6% auto ;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding:5px 32px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#71b7e6,#9b59b6);
    border-radius: 30px;
    transition: 0.5s ;
}
/* .social-icons{
    margin: 30px auto;
    text-align: center;
}
.social-icons img{
    width: 45px;
    height: 45px;
    margin: 0 12px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;

} */
.input-group{
    top: 100px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}
.submit-btn{
    width: 85%;
    padding: 10px 30px ;
    cursor: pointer;
    display: block;
    margin:25px auto;
    background: linear-gradient(to right,#71b7e6,#9b59b6);
    border-radius: 20px;
    border: none;
    
}
.check-box{
    margin: 30px 10px 30px 0;
}
span{
    position: absolute;
    color: rgb(61, 58, 58);
    font-size: 12px;
    top: 128px;
    position: absolute;

}

#logIn{
    left: 50px;
}
#signup{
    left: 450px;
}
#comp{
    left: 450px;
}
label{
    margin-top: 20px;
}
/* 
.contant{
    opacity: 0;
    visibility: hidden;
    width: 350px;
    height: 300px;
    background-color: rgb(240, 211, 182);
    border-radius:30px;
    box-shadow: 0 0 12px 0 #777;
    transition: 0.3s ease-in-out;
}
#click{
    display: none;
    
}
.cli{
    position: absolute;
    margin-top: 82px;
    width: 82%;
    height: 10%;
}
.header{
    height: 68px;
    background: rgb(112, 214, 155);
    overflow: hidden;
}
.header h2{
    color: #fff;
    padding-left: 32px;
    font-weight: bold;
}
.fa-times{
    position: absolute;
    
    right: 65px;
    top: 95px;
    color: rgb(8, 7, 7);
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}
.fa-times:hover{
    color: red;
    transition: 0.4s;
}
.fa-check{
    margin: 30px 0 0 140px;
    font-size: 50px;
    font-weight: bold;
    width: 80px;
    height: 80px;
    text-align: center;
    padding-top: 13px;
    border: 2px solid rgb(112, 214, 155);
    border-radius: 50%;
    box-sizing: border-box;
    color: rgb(112, 214, 155);
}
p{
    padding-bottom:10px ;
    font-size: 19px;
    color: rgb(59, 56, 56);
    text-align: center;
}
.line{
    position: absolute;
    bottom: 60px;
    width: 100%;
    height: 1px;
    background-color:rgb(69, 82, 74);
}
.close-btn{
    position: absolute;
    bottom: 120px;
    right: 54px;
    border: 2px solid rgb(75, 150, 106);
    border-radius: 7px;
    padding: 8px 10px;
    color: rgb(26, 121, 65);
    font-size: 18px;
    cursor: pointer;
}
.close-btn:hover{
    background-color: rgb(112, 214, 155);
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

#click:checked .contant{
   
    opacity: 1;
    visibility:visible ;
}
 */

