*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
body{

}
.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(135deg,#71b7e6,#9b59b6);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 388px;
    height: 480px;
    position: relative;
    margin:6% auto ;
    background: #fff;
    padding: 5px;
}
.button-box{
    width: 150px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding:5px 15px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 75px;
    height: 100%;
    background: linear-gradient(to right,#71b7e6,#9b59b6);
    border-radius: 30px;
    transition: 0.5s ;
}
.social-icons{
    margin: 30px auto;
    text-align: center;
}
.social-icons img{
    width: 45px;
    height: 45px;
    margin: 0 12px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;

}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}
.submit-btn{
    width: 85%;
    padding: 10px 30px ;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#71b7e6,#9b59b6);
    border-radius: 20px;
    border: none;
    
}
.check-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;

}
#login{
    left: 50px;
}
#signup{
    left: 450px;
}
















