*{
    margin: 0;
    padding: 0;
}
body{

}
.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(135deg,#71b7e6,#9b59b6);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 388px;
    height: 480px;
    position: relative;
    margin:6% auto ;
    background: #fff;
    padding: 5px;
}
.button-box{
    width: 130px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding:5px 15px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}










