*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 830px;
    background-image: radial-gradient(circle at 80% 10%,#00c9a7 20% #0000 20%, #0000 100%),radial-gradient(circle at 20% 90%,#ff6f91 20% #0000 20%, #0000 100%);
    
}














