*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    padding: 20px 10px;
}
.wrapper{
    max-height: 120px;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
}
.wrapper .item{
    min-width: 110px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #ddd;
}











