.wrapper{
    max-height: 120px;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
}
.wrapper .item{
    min-width: 110px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #ddd;
}











