*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    width: 100%;
    height: 830px;
    background-color: antiquewhite;
    
}
main{
    width: 500px;
    height: 800px;
    background-color: #cccccccc;
    margin: 30px auto;
    padding: 30px;
    border: 3px solid #f5f5f560;
    border-radius: 50px;
    box-shadow: 1px 1px 10px #000080;
}
h1{
    text-align: center;
    font-size: 90px;
    color: darkcyan;
    margin: 20px auto;
    text-shadow: 2px 2px 2px gray;
}
h2{
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px gray;
}
p{
    width: 350px;
    margin: 20px auto;
    font-size: 20px;
    line-height: 35px;
}
div{
    padding: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}









