*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/images/img/1000.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}























