*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/images/img/1000.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}
.container{
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh -280px);
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
}






















