*{
    margin: 0;
    padding: 0;
}
body{

}
.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(135deg,#71b7e6,#9b59b6);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 388px;
    height: 480px;
    position: relative;
    margin:6% auto ;
    background: #fff;
    padding: 5px;
}












