
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.table {
    width: 100%;
}

.table_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(240, 240, 240);
}

.table_header p {
    color: #4bc526;
    font-size: 20px;
}

button {
    outline: none;
    border: none;
    border-radius:6px;
    cursor: pointer;
    padding: 10px;
    color: #ffffff;
}

td button:nth-child(1) {
    background-color: #58c212;
}

td button:nth-child(2) {
    background-color: #f80000;
}

/* .add_new {
    padding: 10px 20px;
    color: #ffffff;
    background-color: #0298cf;
} */

/* input {
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid #0298cf;
    border-radius: 6px;
    color: #0298cf;
} */

.table_section {
    height: 500px;
    overflow: auto;
}

table {
    width: 100%;
    table-layout: fixed;
    min-width: 900px;
    /* border-collapse: collapse; */
}

thead th {
    position: sticky;
    top: 0;
    background-color: #696669;
    color: #e7b4ff;
    font-size: 18px;
}

th,
td {
    border-bottom: 1px solid #c9c5c5;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}


tr:hover td {
    color: #ffffff;
    cursor: pointer;
    background-color: #4645457c;
}


::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background-color: #f80000;
}
