
body{
    background-color: #cfc3dda2;
}

/* ----------------------------------------- */
/* Start header */
    .header .navbar{
    background-color: rgb(207, 166, 235);
    color: rgb(123, 9, 151);
    height: 70px;
    padding: 10px;
    overflow: hidden;
    }
    
    .header .navbar h2{
        float: left;
        text-transform: uppercase;
    }
    
    .header .navbar h2 span{
    float: left;
    color: rgb(51, 14, 136);
    font-size: 40px;
    }
    
    .header .navbar ul{
    list-style: none;
    padding-left: 0px;
    overflow: hidden;
    float: right;
    }
    
    .header .navbar ul li {
        float: left;
        padding: 10px;
        text-transform: uppercase;
    
    }
    
    .header .navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    }
    
    .header .navbar ul li.active a,
    .header .navbar ul li a:hover {
        color: rgb(51, 14, 136);
    }
    .header .navbar ul li.active a:hover{
        color: #880d80;
    }
    /* End header */
/* ----start body----- */
.container-body{
        width: 1170px;
        margin: auto;
        height: 300px;
}
.content{
    text-align: center;
    margin-top: 12%;
}
.content h1{
    font-size: 80px;
    color: rgb(178, 38, 190);
}
.btn{
    cursor: pointer;
    font-size: 19px;
    letter-spacing: 2px;
    padding: 10px 30px;
    border: 2px solid #a532d3;
    background: transparent;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: 40px 25px;
    border-radius: 20px;
}
.btn:hover{
    background-color: rgb(214, 151, 190);
    box-shadow: 0px 2px 25px #a532d3;
    
}
.btn a{
    color: #4b0e57;
    text-decoration: none;
    text-decoration-line: none;
}
.btn a:hover{
     color: #541b75;
}


/* ---end body------ */






    /* start footer*/
.footer{
    background-color: rgb(207, 166, 235);
    padding: 10px ;
    overflow: hidden;
    text-align: center;
}

.footer span{
    float: right;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 100%;
    color: #550641;
}

.footer ul{
    width: 100%;
    list-style: none;
    padding-left: 0px;
    float: right;
}

.footer ul li{
   display: inline-block;
   width: 40px;
   margin:0px 5px 0px ;
}

.footer ul li img{
    width: 100%;
    padding: 5px;
}
.footer ul li img:hover{
    border: 0px solid rgb(223, 85, 188);
    border-radius: 40px;
    box-shadow: 0px 1px 15px rgb(149, 9, 177);
}
/* End footer*/